USE [master]
GO
/****** Object:  Database [SmartAttendance_DB]    Script Date: 23/01/2026 09:03:07 ******/
CREATE DATABASE [SmartAttendance_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartAttendance_DB', FILENAME = N'C:\Users\low zhan xiang\SmartAttendance_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartAttendance_DB_log', FILENAME = N'C:\Users\low zhan xiang\SmartAttendance_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAttendance_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAttendance_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Attendance_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[ClockInTime] [time](7) NOT NULL,
	[ClockOutTime] [time](7) NULL,
	[Location_Lat_Long] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[Employee_ID] [int] NOT NULL,
	[BreakStartTime] [datetime2](7) NULL,
	[HasTakenBreak] [bit] NOT NULL,
	[IsOnBreak] [bit] NOT NULL,
	[TotalBreakTime] [time](7) NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Attendance_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Department_ID] [int] IDENTITY(1,1) NOT NULL,
	[Department_Name] [nvarchar](max) NULL,
	[Manager_ID] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Employee_Email] [nvarchar](max) NOT NULL,
	[Employee_Phone] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[QR_Code_Data] [nvarchar](max) NULL,
	[Department_ID] [int] NULL,
	[Shift_ID] [int] NULL,
	[Branch] [nvarchar](max) NOT NULL,
	[Date_of_Birth] [datetime2](7) NOT NULL,
	[First_Name] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Last_Name] [nvarchar](max) NOT NULL,
	[Employee_Name] [nvarchar](max) NULL,
	[AnnualLeaveDays] [int] NOT NULL,
	[EmergencyLeaveDays] [int] NOT NULL,
	[MCDays] [int] NOT NULL,
	[OtherLeaveDays] [int] NOT NULL,
	[MaternityLeaveDays] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[Leave_ID] [int] IDENTITY(1,1) NOT NULL,
	[Leave_Type] [nvarchar](max) NULL,
	[Start_Date] [datetime2](7) NOT NULL,
	[End_Date] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Leave_Balance] [int] NULL,
	[Employee_ID] [int] NOT NULL,
	[Reasons] [nvarchar](max) NULL,
	[Request_Date] [datetime2](7) NULL,
	[Reason] [nvarchar](max) NULL,
	[LeaveType] [nvarchar](max) NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[Leave_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[Manager_ID] [int] IDENTITY(1,1) NOT NULL,
	[Manager_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[Manager_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Report_ID] [int] IDENTITY(1,1) NOT NULL,
	[Generated_Date] [datetime2](7) NOT NULL,
	[Month] [nvarchar](max) NULL,
	[TotalPresent] [int] NOT NULL,
	[TotalAbsend] [int] NOT NULL,
	[Employee_ID] [int] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Report_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 23/01/2026 09:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Shift_ID] [int] IDENTITY(1,1) NOT NULL,
	[Start_Time] [time](7) NOT NULL,
	[End_Time] [time](7) NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Shift_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260120014942_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260120020040_AddAuthFields', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260120040311_AddReasonsToLeave', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([Attendance_ID], [Date], [ClockInTime], [ClockOutTime], [Location_Lat_Long], [Status], [Employee_ID], [BreakStartTime], [HasTakenBreak], [IsOnBreak], [TotalBreakTime]) VALUES (1, CAST(N'2026-01-22T00:00:00.0000000' AS DateTime2), CAST(N'00:00:00' AS Time), NULL, NULL, N'Leave', 1, NULL, 1, 0, CAST(N'00:00:05.5357137' AS Time))
INSERT [dbo].[Attendances] ([Attendance_ID], [Date], [ClockInTime], [ClockOutTime], [Location_Lat_Long], [Status], [Employee_ID], [BreakStartTime], [HasTakenBreak], [IsOnBreak], [TotalBreakTime]) VALUES (2, CAST(N'2026-01-23T00:00:00.0000000' AS DateTime2), CAST(N'00:00:00' AS Time), NULL, NULL, N'Leave', 1, NULL, 0, 0, CAST(N'00:00:00' AS Time))
INSERT [dbo].[Attendances] ([Attendance_ID], [Date], [ClockInTime], [ClockOutTime], [Location_Lat_Long], [Status], [Employee_ID], [BreakStartTime], [HasTakenBreak], [IsOnBreak], [TotalBreakTime]) VALUES (3, CAST(N'2026-01-23T00:00:00.0000000' AS DateTime2), CAST(N'00:00:00' AS Time), NULL, NULL, N'Leave', 6, NULL, 0, 0, CAST(N'00:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Employee_ID], [Password], [Employee_Email], [Employee_Phone], [Role], [QR_Code_Data], [Department_ID], [Shift_ID], [Branch], [Date_of_Birth], [First_Name], [Gender], [Last_Name], [Employee_Name], [AnnualLeaveDays], [EmergencyLeaveDays], [MCDays], [OtherLeaveDays], [MaternityLeaveDays]) VALUES (1, N'Zhanxiang-88', N'lowzhanxiang99@gmail.com', N'', N'Staff', NULL, NULL, NULL, N'KL', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'low', N'', N'zhanxiang', N'', 3, 3, 10, 10, 0)
INSERT [dbo].[Employees] ([Employee_ID], [Password], [Employee_Email], [Employee_Phone], [Role], [QR_Code_Data], [Department_ID], [Shift_ID], [Branch], [Date_of_Birth], [First_Name], [Gender], [Last_Name], [Employee_Name], [AnnualLeaveDays], [EmergencyLeaveDays], [MCDays], [OtherLeaveDays], [MaternityLeaveDays]) VALUES (2, N'joan123', N'tanjoan@gmail.com', N'', N'Staff', NULL, NULL, NULL, N'Johor', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Tan', N'', N'Joan', N'', 8, 4, 6, 4, 0)
INSERT [dbo].[Employees] ([Employee_ID], [Password], [Employee_Email], [Employee_Phone], [Role], [QR_Code_Data], [Department_ID], [Shift_ID], [Branch], [Date_of_Birth], [First_Name], [Gender], [Last_Name], [Employee_Name], [AnnualLeaveDays], [EmergencyLeaveDays], [MCDays], [OtherLeaveDays], [MaternityLeaveDays]) VALUES (4, N'admin123', N'admin@gmail.com', N'', N'Staff', NULL, NULL, NULL, N'KL', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Admins', N'', N'Account', NULL, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

INSERT [dbo].[LeaveRequests] ([Leave_ID], [Leave_Type], [Start_Date], [End_Date], [Status], [Leave_Balance], [Employee_ID], [Reasons], [Request_Date], [Reason], [LeaveType]) VALUES (1, NULL, CAST(N'2026-01-21T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-22T00:00:00.0000000' AS DateTime2), N'Approve', NULL, 1, N'Sick ', NULL, NULL, N'')
INSERT [dbo].[LeaveRequests] ([Leave_ID], [Leave_Type], [Start_Date], [End_Date], [Status], [Leave_Balance], [Employee_ID], [Reasons], [Request_Date], [Reason], [LeaveType]) VALUES (2, NULL, CAST(N'2026-01-24T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-26T00:00:00.0000000' AS DateTime2), N'Approve', NULL, 1, N'back to hometown', NULL, NULL, N'')
INSERT [dbo].[LeaveRequests] ([Leave_ID], [Leave_Type], [Start_Date], [End_Date], [Status], [Leave_Balance], [Employee_ID], [Reasons], [Request_Date], [Reason], [LeaveType]) VALUES (3, NULL, CAST(N'2026-01-09T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-03T00:00:00.0000000' AS DateTime2), N'Reject', NULL, 1, N'Try this ', NULL, NULL, N'')
SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
GO
/****** Object:  Index [IX_Attendances_Employee_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_Attendances_Employee_ID] ON [dbo].[Attendances]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_Manager_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_Manager_ID] ON [dbo].[Departments]
(
	[Manager_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Department_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Department_ID] ON [dbo].[Employees]
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Shift_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Shift_ID] ON [dbo].[Employees]
(
	[Shift_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_Employee_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Employee_ID] ON [dbo].[LeaveRequests]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_Employee_ID]    Script Date: 23/01/2026 09:03:08 ******/
CREATE NONCLUSTERED INDEX [IX_Reports_Employee_ID] ON [dbo].[Reports]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT ('00:00:00') FOR [ClockInTime]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasTakenBreak]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOnBreak]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Branch]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Date_of_Birth]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [First_Name]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Gender]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Last_Name]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [AnnualLeaveDays]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [EmergencyLeaveDays]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [MCDays]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [OtherLeaveDays]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [MaternityLeaveDays]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Employees_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employees] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Employees_Employee_ID]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Managers_Manager_ID] FOREIGN KEY([Manager_ID])
REFERENCES [dbo].[Managers] ([Manager_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Managers_Manager_ID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_Department_ID] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Departments] ([Department_ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_Department_ID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Shifts_Shift_ID] FOREIGN KEY([Shift_ID])
REFERENCES [dbo].[Shifts] ([Shift_ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Shifts_Shift_ID]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employees] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees_Employee_ID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Employees_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employees] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Employees_Employee_ID]
GO
USE [master]
GO
